* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.left,
.right {
    display: flex;
    height: 100%;
}

.container .left {
    width: 50%;
}

.left .img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img img {
    width: 100%;
    height: 100%;
}

.container .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    padding: 20px;
}

.right header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48%;
    padding: 2.4em 2em;
    z-index: 99;
}

header a {
    display: flex;
    justify-content: space-between;
    gap: 7px;
    text-decoration: none;
    color: grey;
    font-size: 1em;
    font-weight: 300;
}

header a p {
    margin-top: -.07em;

}

header .head {
    display: flex;
    flex-direction: column;

}

.head .step {
    font-size: .7em;
    align-self: flex-end;
    font-weight: 400;
    text-transform: uppercase;
    color: lightgrey;
}

.head .info {
    font-size: 1em;
    font-weight: 400;
    color: blue;
    color: grey;
}

.right .body {
    position: relative;
    width: 450px;    
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin: 3em 5em 0;
    font-family: "Open Sans";

}

.body h2 {
    font-size: 1.8em;
    align-self: flex-start;
    color: black;
    margin-bottom: .3em;
    font-family: "Open Sans";
}

.body p {
    font-size: 1.1em;
    width: 70%;
    align-self: flex-start;
    color: lightgrey;
    line-height: 1.1em;
}

.body form {
    width: 400px;
    align-self: flex-start;
}


.body .login-details {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
    color: darkgray;
    width: 100%;
    height: 25px;
    margin: 20px 20px 60px 0;

}

.login-details .for {
    font-size: 1.1em;
    font-weight: 400;
}

.login-details .input {
    position: relative;
    outline: none;
    border: 1px solid lightgray;
    border-radius: .3em;
    background: transparent;
    padding: 1.2em 1.2em 1em 1em;
    width: 100%;
    height: 46px;
    font-size: 1em;
    margin-top: .5em;
}

.input::placeholder {
    display: flex;
    justify-content: start;
    align-items: center;
    color: darkgray;
    font-size: .8em;
}

.login-details .input:focus {
    border: 1px solid blue;
}

.login-details select {
    width: 100%;
    height: 46px;
    display: flex;
    flex-direction: column;
    padding: 1.2em 1.2em 1.2em;
    flex: 1;
    color: darkgray;
    font-size: .8em;
    outline: none;
    border: 1px solid lightgray;
    border-radius: .3em;
    background: transparent;
    margin-top: .5em;
}



.login-details select:focus {
    border: 1px solid blue;
    
}


.body .terms-condition {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: start;
    margin-bottom: 1.3em;
}

.terms-condition label input {
    accent-color: blue;
}

.terms-condition label {
    font-size: .8em;
    display: flex;
    gap: 9px;
    color: grey;

}

.body .btn {
    outline: none;
    border: none;
    background: blue;
    color: #fff;
    padding: 1.2em;
    width: 100%;
    border-radius: .4em;
    font-size: .8em;
    margin-top: .4em;
}

.body #btn {
    margin-top: 1.6em;
}

.body #bt {
    margin-top: 3em;
}

.body .google-icon {
    margin-top: 1.8em;
    width: 100%;
    display: flex;
    gap: 50px;
    color: black;
    align-self: flex-start;
    background: transparent;
    text-decoration: none;
    box-shadow: 0 10px 10px 1px rgba(0, 0, 0, .2);
    padding: 1em 3.5em;
    font-size: 1em;
}

.body .google-icon img {
    width: 18px;
    height: 100%;
}

/* .g-icon {
    background-image: linear-gradient(to bottom right, yellow, limegreen, crimson, blue, blue);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
} */


.foot {
    margin-top: 1.2em;
}

.foot span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-left: 10em;
    font-size: .6em;
    color: lightgrey;
}

.foot span p {
    margin-top: .2em;
}